* {
    font-family: Verdana;
    align-content: center
    
  }
  
  h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
  }

  h3 {
    color: aquamarine;
    font-size: 16px;
  }
  
  
  p, 


  li {
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
  }